* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* head */

.head-div {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head-div > div {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* body */

.body-top {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.body-top h1 {
  margin-left: 9%;
  font-size: 4rem;
}

.body-top button {
  margin-left: 9%;
  margin-top: 2rem;
}

.body-mid {
  height: 45vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.body-mid::-webkit-scrollbar {
  display: none;
}

.game{
  min-width: 28%;
  height: 100%;
}

.game > img {
  width: 100%;
  height: auto;
}

.game > p {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

/* footer */

.footer-div {
  height: 10vh;
  display: flex;
  align-items: center;
}

.footer-div1 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-div1 > h2 {
  font-size: 2rem;
}

.footer-p {
  font-size: 1rem;
}

.footer-div2 {
  width: 60%;
  height: 100%;
}

.footer-div2 > div {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}